/artifacts/datasets/*
!/artifacts/datasets/.gitkeep
!/artifacts/datasets/geometry_v1/
!/artifacts/datasets/geometry_v1/**
/artifacts/checkpoints/*
!/artifacts/checkpoints/.gitkeep
/artifacts/logs/*
!/artifacts/logs/.gitkeep
/artifacts/bags/*
!/artifacts/bags/.gitkeep
**/__pycache__/
*.pyc
